[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
requests = "*"
"boto3" = "*"
Flask = "*"
Flask-Bootstrap = "*"
aws-xray-sdk = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
