{%- extends "base.html" %}

{% block content %}
<div class="text-center">
  <h3>This Is A House Of Learned Doctors</h3>
  <iframe src="https://www.youtube.com/embed/hh1oaumUoyc" frameborder="0" allowfullscreen></iframe>
</div>
<div>
  <p id="timestamp"></p>
</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type=text/javascript>
  $(document).ready(function() {
      $.ajax({
          url: "/_get_timestamp"
      }).then(function(data) {
         $("p#timestamp").append(data);
      });
  });
  </script>
{% endblock %}
